@font-face {
  font-family: "mplusrounded1c-medium";
  src:
    url("../fonts/mplusrounded1c-medium.ttf") format("truetype");
}

@font-face {
  font-family: "mplusrounded1c-bold";
  src:
    url("../fonts/mplusrounded1c-bold.ttf") format("truetype");
}

@font-face {
  font-family: "museo";
  src: url("../fonts/museo700.eot?") format("eot"),
    url("../fonts/museo700.woff") format("woff"),
    url("../fonts/museo700.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  color: #16270e;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "mplusrounded1c-medium";
  background-color: #71e3eb;
  background: url('../images/main_bg.png');
  background-position: center top;
  background-repeat: no-repeat;
  font-size: 28px;
  max-width: 1620px;
}

.small, small {
  font-size: 16px;
}

#wrapper , .wrapper{
  width: 100%;
  float: left;
}

.container {
  max-width: 800px;
}

.ground {
  width: 100%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  background-image: url(../images/ground.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 309px;
  z-index: 10;
  margin-top: 40px;
}

.bg-light {
  background-color: transparent!important;
}

#menulist li, #footerlist li {
  display: inline-block;
  margin-right: 15px;
}

#footerlist {
  padding-left: 0px;
}

#footerlist li a {
  color: #000;
  font-family: "museo";
  font-size: 24px;
  text-decoration: none;
}

#footer {
  width: 100%;
  float: left;
  background-color: #fffbb1;
  padding: 20px;
}

#footer img {
  display: block;
}

.col-md-6 {
  width: 50%;
  float: left;
  min-height: 1px;
  display: block;
  position: relative;
}

#header {
  text-align: center;
  max-width: 800px;
  margin: auto;
  margin-top:70px;
}

#header img {
  display: block;
}

#logo {
  text-align: center;
}

#logo a img {
  margin: auto;
}

#menu {
  width: 100%;
  float: left;
}

#menulist {
  list-style-type: none;
  padding-left: 0px;
  margin: 10px auto;
}

#menulist li a img{
  margin: auto;
}

#menulist li {
  width: calc((100% / 3) - 5px);
  float: left;
}

#closegame {
  display: none;
  z-index: 9999;
  position: absolute;
}

#closegame img {
  display: block;
  width: 32px;
  height: 32px;
}

/*indexpage*/
#kezdolap {
  width: 100%;
  float: left;
  padding-top: 100px;
  padding-bottom: 100px;
}

#kezdolap h2 {
  text-align: center;
  height: 165px;
  background-image: url(../images/green_bg_xl.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px 10px;
  margin: 25px auto 100px auto;
  color: #16270e;
  font-size: 36px;
}

.forgotten-div {
  margin-top: 30px;
}

.forgotten-div-inner {
  max-width: 270px;
  margin: auto;
}

.forgotten-div a {
  color: #16270e;
}


/*form*/

.nav-tabs {
  border-bottom: none;
}

#form-tabs, #form-tabsContent {
  width: 100%;
  float: left;
  justify-content: center;
}

#login-tab, #register-tab {
  text-align: center;
  height: 80px;
  background-image: url(../images/green_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 10px;
  margin: 25px auto;
  color: #16270e;
  opacity: 0.7;
}

#login-tab[aria-selected="true"], #register-tab[aria-selected="true"] {
  opacity: 1;
}

.nav-pills .nav-item {
  width: 350px;
  margin: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #16270e;
  background-color: transparent;
  border-color: #dee2e6 #dee2e6 transparent;
  opacity: 1;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  background-color: transparent;
  opacity: 1;
}

button {
  width: 150px;
  height: 35px;
  background-color: #16270e;
  display: block;
  color:  #8fb910;
  font-size: 32px;
  line-height: 32px;
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-left: -75px;
  border-radius: 9px;
  font-family: "mplusrounded1c-bold";
  cursor: pointer;
}

form {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

#login-form label, #register-form label, #new-password-form label {
  width: 100%;
  float: left;
  display: block;
  margin-bottom: 5px;
  font-size: 28px;
}

#login-form input, #register-form input, #new-password-form  input {
  width: 100%;
  float: left;
  display: block;
  border-radius: 9px;
  outline: none;
  border: none;
  background-color: #fff;
  height: 35px;
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 35px;
  padding: 10px;
}

#login-form .checkdiv, #register-form .checkdiv {
  width: 100%;
  float: left;
  display: block;
  margin-bottom: 15px;
}

#login-form input[type="checkbox"], #register-form input[type="checkbox"] {
  width: auto;
  float: left;
  height: auto;
  margin: initial;
  line-height: initial;
  font-size: initial;
  margin-top: 6px;
  margin-right: 20px;
}

#login-form label.checkboxlabel, #register-form label.checkboxlabel  {
  width: auto;
  float: left;
  display: block;
  margin-bottom: 0px;
  margin-left: 5px;
  font-size: 14px;
}

#login-form label.checkboxlabel a, #register-form label.checkboxlabel a {
  color: #16270e;
  text-decoration: underline;
}

#login-form .butondiv, #register-form .butondiv {
  width: 100%;
  float: left;
  display: block;
  text-align: center;
}

#login-form button, #register-form button {
  outline: none;
  border: none;
  margin-top: 20px;
  top: 20px;
  margin-left: auto;
  left: auto;
  right: auto;
  margin-right: auto;
  position: relative;
  bottom: 10px;
  height: 70px;
  width: 270px;
  font-size: 32px;
}

#new-password-form input[type="submit"] {
  min-width: 150px;
  background-color: #16270e;
  display: block;
  color:  #8fb910;
  line-height: 32px;
  text-decoration: none;
  border-radius: 9px;
  font-family: "mplusrounded1c-bold";
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 20px;
  top: 20px;
  margin-left: auto;
  left: auto;
  right: auto;
  margin-right: auto;
  position: relative;
  bottom: 10px;
  height: 70px;
  width: 270px;
  font-size: 20px;
}

.reg_hl, .login_hl {
  text-align: center;
}

.login_hl {
  text-align: center;
  height: 80px;
  background-image: url(./images/green_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 4px 10px;
  margin: 25px auto;
  color: #16270e;
}

.reg_hl {
  text-align: center;
  height: 80px;
  background-image: url(./images/green_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 2px 10px;
  margin: 25px auto;
  color: #16270e;
}

.check-span {
  font-size: 20px;
  float: left;
}

.check-span a {
  color: #16270e;
  text-decoration: underline;
}

/*tabella*/

.nyeremeny_panel_footer {
  padding-top: 20px;
}

#tabella_tablak {
  margin-top: 30px;
  width: 100%;
  float:left;
}

#tabella_tablak .buttondiv {
  float: left;
}

#tabella_tablak a.button {
  outline: none;
  border: none;
  margin-top: 10px;
  top: 10px;
  margin-left: auto;
  left: auto;
  right: auto;
  margin-right: auto;
  position: relative;
  bottom: 10px;
  height: 70px;
  width: 270px;
  font-size: 32px;
  line-height: 32px;
  background-color: #16270e!important;
  display: block;
  color:  #8fb910!important;
  border-radius: 9px;
  font-family: "mplusrounded1c-bold";
  cursor: pointer;
  text-decoration: none;
  padding-top: 18px;
}

.tabella_hl {
  text-align: center;
  font-family: "mplusrounded1c-bold";
  margin-bottom: 40px;
}

.nyeremenyek {
  width: 100%;
  float: left;
  margin-bottom: 36px;
}

.nyeremeny_panel {
  width: calc(100% / 3);
  float: left;
  text-align: center;
}

.nyeremeny_panel_body {
  background-image: url(../images/nyeremeny_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 244px;
  padding-top: 0px;
}

.tabella_tabla_div {
  width:100%;
  float:left;

}

.tabella_tabla_div h3 {
  text-align: center;
  height: 80px;
  background-image: url(../images/green_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 10px;
  margin: 5px auto;
  font-size: 30px;
  line-height: 30px;
  color: #16270e;
}

.tojas img {
  display: block;
}

.tabella_tabla_table1, .tabella_tabla_table2 {
  width: 100%;
  max-width: 660px;
  margin: auto;
  margin-bottom: 36px;
}

.tabella_tabla_table1 tr td, .tabella_tabla_table2 tr td  {
  padding: 5px;
  font-size: 30px;
  color: #16270e;
}

.tabella_tabla_table1 .pontszam {
  width: 260px;
  text-align: right;
  max-width: 260px;
  word-break: break-word;
}

.tabella_tabla_table1 .nyertes {
  width: 270px;
  max-width: 270px;
  word-break: break-word;
}

.tabella_tabla_table2 .nyertes {
  width: 50%;
  text-align: right;
}

.tabella_tabla_table2 .datum {
  width: 50%;
}

/*loggedin*/

#loggedindiv {
  padding: 10px;

}

#loggedindiv .row {
  padding-bottom: 30px;
}

.unique-line-height {
  line-height: 1.1;
}

#loggedindiv a.small {
  color: #16270e;
  margin-top: -10px;
}

#loggedindiv button, #loggedindiv a.button{
  outline: none;
  border: none;
  margin-top: 77px;
  margin-right: auto;
  margin-left: auto;
  left: auto;
  right: auto;
  position: relative;
  bottom: 10px;
  height: 70px;
  width: 270px;
  font-size: 32px;
  line-height: 32px;
  background-color: #16270e;
  display: block;
  color:  #8fb910;
  border-radius: 9px;
  font-family: "mplusrounded1c-bold";
  cursor: pointer;
  text-decoration: none;
}

#loggedindiv a.button{
  padding-top: 20px;
}

#loggedindiv h3 {
  text-align: center;
  height: 165px;
  background-image: url(../images/green_bg_xl.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px 10px;
  margin: 25px auto 100px auto;
  color: #16270e;
  font-size: 36px;
}

/*modal*/

.modal-dialog {
  max-width: 800px;
  margin: 1.75rem auto;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: transparent;
  background-image: url(../images/modal_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  border: none;
  border-radius: .3rem;
  outline: 0;
  height: 640px;
}

.modal-header {
  border: none;
  padding-right: 75px;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: none;
  opacity: 1;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: none;
}

.newpsw-hl {
  margin-bottom: 30px;
}

#pswModal form, #pswModal2 form  {
  max-width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}

#pswModal2 form  {
  padding-top: 60px;
}

#pswModal form button, #pswModal2 form input[type="submit"]  {
  outline: none;
  border: none;
  margin-left: auto;
  left: auto;
  right: auto;
  top: 20px;
  margin-top: 20px;
  margin-right: auto;
  position: relative;
  bottom: 10px;
  height: 70px;
  width: 270px;
  font-size: 32px;
  line-height: 32px;
  background-color: #16270e;
  display: block;
  color: #8fb910;
  border-radius: 9px;
  font-family: "mplusrounded1c-bold";
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

@media (max-width: 1024px) {

  .col-md-6 {
    width: 100%;
  }

  #login-form input[type="checkbox"], #register-form input[type="checkbox"] {
    width: auto;
    float: left;
    height: auto;
    margin: initial;
    line-height: initial;
    font-size: initial;
    margin-top: 8px;
    margin-right: 20px;
  }

  .check-span {
    font-size: 16px;
  }
}

@media (max-height:800px) and (orientation: landscape) {

  #header {
    height: 100px;
    margin-top: 20px;
  }

  #logo {
    height: 100px;
    width: 130px;
    float: left;
  }

  #logo a img {
    height: 100px;
  }

  #menu {
    width: calc(100% - 130px);
    float: left;
  }

}

.navbar-brand img {
  display: none;
}

@media (max-width: 1024px) {
  body {
    font-size: 16px;
    background-size: cover;
  }

  #kezdolap {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #kezdolap h2 {
    height: 110px;
    font-size: 22px;
    margin: 25px auto 50px auto;
    padding: 30px 10px;
  }

  #login-form label, #register-form label {
    font-size: 16px;
  }

  #login-form button, #register-form button, #loggedindiv button,
  #loggedindiv a.button, #tabella_tablak a.button {
    font-size: 16px;
    height: 50px;
    line-height: 45px;
  }

  #tabella_tablak a.button {
    padding-top: 4px;
  }

  #loggedindiv a.button {
    padding-top: 4px;
  }

  #login-form input, #register-form input {
    margin-bottom: 16px;
  }

  .container2 {
    width: 100%;
    max-width: 800px;
    margin: auto;
    float: left;
    margin-top: 30px;
  }

  #controll_mobile {
    height: 50px;
    background: rgba(255,255,255,0.6);
    z-index: 99999;
    position: relative;
    margin-top: -50px;
    margin-bottom: 0px;
    display: block;
  }

  #header {
    height: 130px;
    margin-top: 20px;
  }

  #logo,  #menu {
    width: 100%;
    float: left;
  }

  #logo {
    margin-top: 10px;
  }

  #menu  {
    margin-top: 10px;
  }

  .navbar-toggler {
    border: none;
    width: 50px;
    height: 50px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    left: auto;
  }

  #logo img {
    height: 100px;
    width: auto;
  }

  #menulist li, #footerlist li{
    display: block;
    margin-bottom: 10px;
  }
  #menulist li {
    width: 100%;
  }

  #menulist li a img {
    margin: auto;
    height: 23px;
  }
  .col-md-6 {
    width: 100%;
    text-align: center;
  }

  .col-md-6 a img {
    margin-left: auto;
    margin-right: auto;
  }

  #footer .col-md-6 {
    padding-bottom: 20px;
  }

  #scoreBoard {
    background-image:url(./images/points.png);
    background-repeat:no-repeat;
    background-position:left center;
    background-size: 22.5px 30px;
    padding-left: 35px;
    height: 40px;
  }

  .nyeremeny_panel {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
  }

  .tabella_tabla_table1, .tabella_tabla_table2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .tabella_tabla_table1 tr td, .tabella_tabla_table2 tr td  {
    padding: 5px;
    font-size: 18px;
    color: #16270e;
  }

  #login-tab, #register-tab {
    text-align: center;
    height: 80px;
    background-image: url(../images/green_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 10px;
    margin: 7.5px auto;
    color: #16270e;
    background-size: contain;
  }

}

@media (max-width: 991px) {
  #kezdolap h2, #loggedindiv h3  {
    height: 110px;
    font-size: 22px;
    margin: 5px auto 50px auto;
    padding: 30px 10px;
  }

  #pswModal form {
    max-width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
  }
}

@media (max-width: 1023px) {
  #loggedindiv button{
    margin-top: 10px;
    top: 10px;
    margin-bottom: 10px;
    bottom: 10px;
  }

  #nyuszi-navbar > ul > li.nav-item > a > img {
    margin: auto;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  #pswModal form, #pswModal2 form {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
  }

  #loggedindiv .text-right, #loggedindiv .text-left {
    text-align: center!important;
  }

  #loggedindiv .text-right {
    font-family: "mplusrounded1c-bold";
    padding-bottom: 10px;
  }
}

@media (max-width: 560px) {
  #pswModal form, #pswModal2 form {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }

  #nyuszi-navbar > ul > li.nav-item > a > img {
    margin: auto;
    padding-bottom: 10px;
  }
}


.text-muted {
  display: none;
  color: red!important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .row {
    width: 100%;
  }
}

#alerts-container {
  max-width: 77%;
  margin: auto;
  padding-top: 7%;
}

.nyerimg {
  max-height: 250px;
}